<server_config>

    <gate_server id = "1">
        <ip>127.0.0.1</ip>
        <port>3333</port>
    </gate_server>


    <game_server id = "2">
        <ip>127.0.0.1</ip>
        <port>4444</port>
    </game_server>


    <db_server id = "3">
        <ip>127.0.0.1</ip>
        <port>3333</port>
    </db_server>


    <login_server id = "4">
        <ip>127.0.0.1</ip>
        <port>3333</port>
    </login_server>

</server_config>
